* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}
button {
    font-family: 'Raleway', sans-serif;
}

header {
    position: relative;
    display: flex;
    margin: auto;
    align-items: center;
    width: 90%;
    height: 10vh;
}
.logo-container,.nav-links,.phone,span {
    display: flex;
}
.logo-container {
    flex: 1;
}
.logo-container img {
    height: 100%;
}
.logo{
    margin: 5px;
}
nav{
    flex: 5;
}
.nav-links{
    width: 100%;
    height: 100%;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    margin-left: auto;
}
.nav-link, .phone, a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.nav-link{
    padding: 10px 32px;
    transition: 0.3s; 
}
.nav-link:hover {
    background-color:#525A6E;
    color:white;
  }
.phone{
    flex: 1;
    justify-content: flex-end;
}
.phone img{
    padding-right: 6px;
}
.about {
    display: flex;
    margin: auto;
    min-height: 80vh;
    align-items: center;
    position: relative;
}
.weather { 
    height: 10vh;
    margin: auto;
}
.weatherwidget-io {
    width: 350px;
    float: right;
}

.introduction {
    margin-left: 100px;  
}
.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, black, #525A6E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.intro-text p{
    margin-top: 9px;
    margin-right: 100px;
    font-size: 22px;
    color: black;
}
.cta{
    padding: 50px 0px 0px 0px;
}
.cta-read{
    border: 2px solid #525A6E;
    background-color: #525A6E;
    color: white;
    width: 89px;
    height: 34px;
    cursor: pointer;
    transition: 0.3s; 
    font-size: 16px;
}
.cta-read:hover {
    background-color:white;
    color:black;
  }
.cover {
    flex: 1;
    height: 80vh;
}
.cover img {
    height: 100%;
}
.wheat {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.3;
}
.wheat-big{
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    top: 60px;
    left: 250px;
    height: 95%;
}
.parallax1 {
    background: url('./src/parallax1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}
.parallax2 {
    background: url('./src/parallax2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}
.parallax3 {
    background: url('./src/parallax3.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
}
.oferta {
    display: flex;
    margin: auto;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    position: relative;
}
.foodpics {
    flex: 1;
    margin-left: 50px;
    height: 80vh;
}
.foodfront {
    filter: drop-shadow(0px 3px 3px black);
    height: 100%;
}
.foodbehind {
    height: 100%;
    filter: drop-shadow(3px 3px 3px black);
    z-index: -1;
    top: 15%;
    left: 15%;
    position: absolute;;
    transform: rotate(20deg)
}
.dietaintro {
    margin-left: 500px;
    flex: 2;    
}
.dieta-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, black, #525A6E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dieta-text p {
    width: 500px;
    margin-top: 9px;
    font-size: 22px;
    color: black;
}
.dieta-cta {
    padding: 50px 0px 0px 0px;
}
.veganfood {
    position: absolute;
    top: 5%;
    right: 0%;
    z-index: -3;
    opacity: 0.3;
    transform: rotate(20deg);
}
.carrot {
    right: 15%;
    bottom: 0%;
    position: absolute;
    z-index: -3;
    opacity: 0.3;
}
.galeria {
    width: 100%;
    padding: 60px 0;
    position: relative;
    margin-bottom: 100px;
}
.forest {
    height: 80%;
    position: absolute;
    opacity: 0.3;
    z-index: -3;
    right: -5%;
    bottom: -10%;
}
.forest2 {
    height: 80%;
    position: absolute;
    opacity: 0.3;
    z-index: -3;
    left: -5%;
    bottom: -10%;
}
.galeria h1 {
    text-align: center;
    color: black;
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, black, #525A6E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.border {
    width: 1100px;
    height: 4px;
    background: linear-gradient(to right, black, #525A6E);
    margin: 60px auto;
}
.gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.image {
    flex: 50%;
    overflow: hidden;
    cursor: pointer;
}
.image img{
    height: 100%;
    width: 100%;
    transition: 0.4s;
}
.image:hover img{
    transform: scale(1.4) rotate(15deg);
}
.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.kontakt {
    width: 100%;
    padding: 60px 0;
    position: relative;
    margin-bottom: 100px;
}
.kontakt h1 {
    text-align: center;
    color: black;
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, black, #525A6E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.border2 {
    width: 500px;
    height: 4px;
    background: linear-gradient(to right, black, #525A6E);
    margin: 60px auto;
}
.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.card {
    width: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    background-color: #525A6E;
    padding: 25px;
    margin: 0 10px;
    width: 400px;
    height: 200px;
    flex-direction: column;
    color: #fff;
}
.card-icon {
    position: relative;
    bottom: -10%;
    margin-right: 10px;
}
.card h3 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}
.card p{
    margin-bottom: 10px;
}
.content{
    display: flex;
}

@media screen and (max-width: 1450px){
    html,body {
        max-width: 100%;
        overflow-x: hidden;
    } 
    nav{
        flex: 3;
    }
    .about {
        display: flex;
        margin: auto;
        min-height: 80vh;
        align-items: center;
        position: relative;
    }
    .cover img {
        height: 80%;
        margin-top: 50px;
    }
    .introduction{
        margin-top: 40px;
        position: relative;
    }
    .intro-text h1 {
        font-size: 26px;
        font-weight: 500;
        background: linear-gradient(to right, black, #525A6E);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .intro-text p{
        margin-top: 9px;
        margin-right: 100px;
        font-size: 16px;
        color: #525A6E;
    }
    .cta-read{
        margin-left: 100px;
    }
    .wheat-big {
        position: absolute;
        z-index: -1;
        opacity: 0.3;
        top: 5px;
        left: 80px;
        height: 80%;
    }
    .parallax1 {
        height: 200px;
    }
    .parallax2 {
        height: 200px;
    }
    .oferta {
        display: flex;
        margin: auto;
        min-height: 100vh;
        align-items: center;
        position: relative;
    }
    .foodpics {
        margin-top: 200px;
    }
    .foodfront img{
        height: 60%;
    }
    .foodbehind img{
        height: 45%;
    }
    .dietaintro {
        margin-left: 300px;
        margin-top: 40px;
        position: relative;
    } 
    .dieta-text p{
        margin-top: 9px;
        font-size: 16px;
        color: #525A6E;
    }
    .veganfood {
        height: 50%;
    }
    .carrot {
        height: 40%;
        bottom: 10%;
    }

}


@media screen and (max-width:768px) {
    html,body {
        max-width: 100%;
        overflow-x: hidden;
    }
    body {
        position: relative
      }
    header {
        width: 100%;
        height: 10vh;
    }
    .logo-container {
        margin-left: 15px;
    }
    .phone {
        display: none;
    }
    .line {
        width: 30px;
        height: 3px;
        background: black;
        margin: 5px;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 6;
    }
    .nav-links {
        z-index: 5;
        display: flex;
        background-color: white;
        position: absolute;
        right: 0px;
        top: 0px;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        align-items: center;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1200px at 90% -10%);
        -webkit-clip-path: circle(1200px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 0;
      }
      .nav-links li a {
        font-size: 25px;
      }
      .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
      }
      .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
      }
      .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
      }
      li.fade {
        opacity: 1;
      }
    .about {
        height: 80vh;
        flex-direction: column;
    }
    .wheat {
        display: none;
    }
    .wheat-big {
        position: absolute;
        z-index: -1;
        opacity: 0.3;
        height: 30%;
        right: 0%;
        top: 1%;
    }
    .introduction {
        margin-top: 5vh;
        margin-left: 0px;
        text-align: center;
    }
    .intro-text h1 {
        font-size: 28px;
    }
    .intro-text p {
        font-size: 16px;
        margin-right: 0px;
        margin: 10px 5px 5px 5px;
    }
    .cta {
        padding: 10px 0px 0px 0px;
    }
    .cta-read{
        margin: auto;
    }
    .about img{
        height: 45vh;
    }
    .weather { 
        display: none;
    }
    .parallax1 {
        display: none;
    }
    .parallax2 {
        display: none;
    }
    .oferta {
        padding: 60px 0;
        height: 100vh;
        flex-direction: column;
        position: relative;
        display: flex;
        flex-flow: column;
    }
    .foodpics {

        height: 50vh;
        order: 2;
        margin: auto;
    }
    .foodfront img {
        margin-top: 50px;
        height: 65%;
    }
    .foodbehind img {
        display: none;
    }
    .dietaintro {
        order: 1;
        height: 50vh;
        padding-top: 40px;
        margin-left: 0px;
        text-align: center;
    } 
    .dieta-text h1 {
        font-size: 28px;
    }
    .dieta-text p{
        width: auto;
        font-size: 16px;
        margin-right: 0px;
        margin: 10px 5px 5px 5px;
    }
    .veganfood {
        top: 10%;
        left: 0%;
        height: 30%;
    }
    .carrot {
        transform: rotate(90deg);
        height: 25%;
        top: 30%;
        left: 50%;
    }
    .image {
        flex: 33.33%;
    }
    .border {
        width: 100px;
    }
    .galeria h1 {
        font-size: 28px;
    }
    .galeria {
        padding: 30px 0;
    }
    .sleepback {
        height: 50%;
        top: -5%;
        left: -10%;
    }

}